{:objects
 {:ingredient
  {:fields {:id {:type ID}
            :name {:type String}
            :created_at {:type String}
            :updated_at {:type String}}}}
 :queries
 {:ingredient {:type (non-null :ingredient)
               :args {:id {:type String}}
               :resolve :get-ingredient}
  :ingredients {:type (list :ingredient)
                :args {}
                :resolve :get-ingredients}}}
