<!DOCTYPE html>
<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Welcome to cbook</title>
  </head>
  <body>
    <section class="section" id="app">
      <div class="container is-fluid">
        <h1 class="title">
          Cookbook
        </h1>
        <p class="subtitle">Loading... </p>
      </div>
    </section>

    <!-- scripts and styles -->
    {% style "/css/bulma.css" %}
    {% style "/css/screen.css" %}

    <script type="text/javascript">
        var context = "{{servlet-context}}";
        var csrfToken = "{{csrf-token}}";
    </script>
    {% script "/js/app.js" %}
  </body>
</html>
